<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<title>Mian Sarmad Arif | Mechanical Engineer | mian.arif@mavs.uta.edu</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="./static/resume.css" media="all" />

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Mian S. Arif</h1>
					<h2>Mechanical Engineer</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a id="pdf" href="./static/Resume_Mian.pdf">Download PDF</a></h3>
						<h3><a href="mailto:mian.arif@mavs.uta.edu">mian.arif@mavs.uta.edu</a></h3>
						<h3>(682) - 256-3360</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								Mechanical Engineer with expertise in Design, FEA, CFD, Machine Learning and Data Science; looking for an opportunity to turn big goals and bold dreams into reality. 
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>Leadership</h2>
									<p>Proven ability to lead and manage a wide variety of design, development and compliance projects in team and independent situations.	</p>
								</div>

								<div class="talent">
									<h2>Mechanical Design & FEA</h2>
									<p>Well versed in all popular tools and best practices to make manufacturing ready engineering drawings and perform high quality validation tests	 </p>
								</div>

								<div class="talent">
									<h2>Data Science/ Machine Learing</h2>
									<p>Proficient in main libraries of Python used in machine learning and data science such as Pandas, NumPy, Matplotlib, and Scikit-learn</p>
								</div>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>PTC Creo</li>
								<li>Python</li>
								<li class="last">SolidWorks</li>
							</ul>

							<ul class="talent">
								<li>Teamcenter PLM</li>
								<li>ANSYS (Worbench+APDL)</li>
								<li class="last">MATLAB (Simulink)</li>
							</ul>

							<ul class="talent">
								<li>Windchill</li>
								<li>Applied Mathematics</li>
								<li class="last">Linux</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>Baker Hughes (GE Oil and Gas)</h2>
								<h3>Mechanical Engineer</h3>
								<h4>2018-2020</h4>
								<p>
									<ul>
										<li>Created Design Process Plans (DPP), Design Verification Plans (DVP) and Test Procedures (hydrostatic and gas) for surface well head equipment and oil field equipment such as casing heads and ring gaskets</li>
										<li>Completed more than 20 Engineering Work Requests (EWRs) from North America region</li> <li> Managed a team 5 mechanical engineers for effective and on time delivery of customer requirements </li><li>Created 45 unitized assemblies in PTC Creo for Baker Hughes product catalogue and upon customer request</li> <li>Created and updated more than 500 parts, assemblies and components according API 6A 21st ed. compliance</li>  
                                    </ul>
									</p>
							</div>

							<div class="job">
								<h2>BrandFX Body Company</h2>
								<h3>Design Engineer</h3>
								<h4>2018-2018</h4>
								<p><li> Designed a bumper for F-450 truck composite service body with towing capacity of 20,000 lbf along with FEA simulation for design validation on SolidWorks Simulation </li><li>  Used WorkWise ERP system to use available materials from inventory and modified designs accordingly reducing cost and scrap</li> <li>  Designed a detailed installation manual for F-150 truck composite inserts to be sent to different BrandFX installation facilities across US where onsite engineering support is not available</li> <li>  Performed drawing and CAD part revisions on Product Data Management (PDM SolidWorks)</li>  </p>
							</div>

							<div class="job">
								<h2>The University of Texas at Arlington</h2>
								<h3>Mechanical Design Software Support (Student Assistant)</h3>
								<h4>2016-2018</h4>
								<p><li>Designed a standard SolidWorks instruction manual that answered frequently asked questions resulting in 20% less inquiries </li><li>Provided MATLAB and SolidWorks supplementary tutoring to undergraduate students </li><li> Led a team of 8 lab assistants to conduct annual technology survey; received more than double (323) responses as compared last year which helped to improve labs and technology resources across the campus </li> <li> Managed security compliance project of university devices; achieved 100% compliance</li>  </p>
							</div>


							<div class="job last">
								<h2>Oil and Gas Development Company</h2>
								<h3>Mechanical Engineer Intern</h3>
								<h4>2014-2016</h4>
								<p><li>Designed hydraulic pumps and mechanical components on PTC Creo according to GD&T standards</li> <li>Managed technicians in the preventive maintenance department; reducing service time by 9% <li>Developed technical reports of machine life-cycle every week and presented to senior engineers; resulting in more effective preventive maintenance of the plant and less failures</li><li>Evaluated recommendations for shifting all on-site plant monitoring to SCADA system. Conclusion: Early failure diagnosis, maintenance time reduction and at least 25% reduction in workforce if implemented </li></p>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>The University of Texas - Arlington, Texas</h2>
							<h3>Masters of Engineering in Mechanical Engineering: Finite Element Analysis, Control Systems, Applied Mathematics &mdash; <strong>3.70 GPA</strong> </h3>
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Mian Sarmad Arif &mdash; <a href="mailto:mian.arif@mavs.uta.edu">mian.arif@mavs.uta.edu</a> &mdash; (682) - 256-3360</p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>

